p {
	font-family: Courier, Monospace;
	font-size: 20px;
}
#welcome {
	font-size: 40px;
	text-align: center;
	
}
#footer {
	font-size: 20px;
	text-align: bottom;
	text-align:center;
}
#pic1 {
	margin-left:300px;
	border: 1px solid black;
	border-radius: 10px;
}
.home-row {
	
	height:55px;
	width:700px;
	background-color:orange;
	
	border: 1px solid black;
	border-radius: 4px;
	margin-left: 350px;
	
	
	
}
a {
	color:black;
	font-size: 20px;
	font-family: Courier, Monospace;
	text-decoration:none;
}
.about {
	text-align:center;
}

body {
	background-color:#FFFF99;
}
.2 {
	
	
	margin-left:500px;
}
li {
	display:inline-block;
	position: relative;
	margin-left: 80px;
}
a:hover {
	color: red;
}

.language {
	display: inline-block;
	margin-left:10px;
	text-align: top;
	text-align: right
}
#sl {
	margin-left:1200px
}
	
